@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Jacques francois;
    cursor:grab;
    
}
body{
    background: #000;
    color: #fff;
}
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1c1c1c;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 68px;
    z-index: 1000;
}
.logo{
    font-size: 20px;
    font-weight: 500;
}
/*menu icon(moblile)*/
.menu-toggle{
    display: flex;
    flex-direction: column;
    cursor: grabbing;
    z-index: 1100;
}
.menu-toggle span{
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
    transition: 0.3s;
}
/*menu*/
.menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    transition: 0.4s ease;
    
}
.menu a{
    margin: 15px 0;
    text-decoration:none;
    color: white;
    cursor: grabbing;
    font-size: 18px;
}
.menu.active{
    right: 0;
}
/*overlay menu*/
.overlay-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;
    transform: 0.3;
    z-index: 900;
}
.overlay-menu.active{
    opacity: 1;
    visibility: visible;
}
/*=========hero===========*/
.hero{
    height: 100vh;
    background: url("./pizza-Fundo.png")center/cover no-repeat;
}
.overlay{
    background: rgba(0,0,0,0.6);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
}
.hero-text h2{
    font-size: 56px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;

}
.hero-text{
    max-width: 560px;
    text-align: right;
}
.hero-text button{
    padding: 12px 28px;
    border-radius: 2rem;
    background: #ff3b3b;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: 16px;
    cursor: grabbing;
    transition: 0.4s;
}

.hero-text button:hover{
    background-color: #873331;
    transition: 0.3s ;
}
.diferenciais{
    background: #145a32;
    padding: 80px 20px;
    text-align: center;

}
.diferenciais h2{
    margin-bottom: 50px;
    font-size: 28px;

}
/* grip*/
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    background: #1E6F43;
    padding: 30px 20px;
    border-radius: 15px;
    width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    cursor: grabbing;
}
.card:hover{
    transform: translateY(-8px);
    cursor: grabbing;
}
.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    cursor: grabbing;
}
.card p{
    font-size: 16px;
    line-height: 1.3;
    cursor: grabbing;
}
.cardapio{
     background: white;
    color: #000;
    padding : 80px 20px;
    text-align: center;
}
.cardapio h2{
    font-size:32px;
    margin-bottom: 48px;
    font-weight: 500;
}
